@font-face {
  font-family: 'Salesforce Sans';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url('../fonts/sales.woff2') format('woff2'),
      url('../fonts/sales.woff') format('woff');
}