
body {
  min-width: 320px;
  padding: 0 20px;
  color: #53565A;
  background-color: #FFF;
  font-family: 'Roboto', Tahoma, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
}

.visually-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
}

.hidden {
  display: none;
}

.container {
  margin: 0 auto;
  max-width: 1394px;
}
